In [70]:
import pandas as pd

In [71]:
df_lidar = pd.read_table('../training_data/lidar_2rounds', sep=",", index_col=0)
df_lidar.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,7.4565,6.8632,8.4021,10.2755,12.9451,9.7520,5.7550,5.8843,3.9540,20.0,20.0,5.2561,2.7631,4.3158,5.5333,1.4624,-32.0,0.966667
1,7.4570,6.8637,8.4026,10.2759,12.9455,9.7523,5.7554,5.8845,3.9542,20.0,20.0,5.2564,2.7635,4.3162,5.5337,1.4628,-32.0,0.966667
2,7.4565,6.8633,8.4022,10.2756,12.9452,11.2514,5.7551,5.8844,20.0000,20.0,20.0,5.2560,2.7631,4.3157,5.5332,1.4624,-32.0,0.966667
3,7.4554,6.8621,8.4012,10.2746,12.9443,11.2507,5.7545,5.8839,20.0000,20.0,20.0,5.2550,2.7620,4.3146,5.5320,1.4612,-32.0,0.966667
4,7.4533,6.8601,8.3994,10.2729,12.9429,11.2495,5.7534,5.8832,20.0000,20.0,20.0,5.2533,2.7600,4.3126,5.5299,1.4590,-32.0,0.966667

In [72]:
df_sonar = pd.read_csv('../training_data/sonar.samples', sep=" ", header=None)
df_sonar.head()

        0       1       2     3
0  1.5067  1.3101  1.7966 -22.0
1  1.5075  1.3106  1.7970 -22.0
2  1.5075  1.3106  1.7970 -22.0
3  1.5075  1.3106  1.7970 -22.0
4  1.5075  1.3106  1.7970 -22.0

In [73]:
display(df_lidar.describe())
df_sonar.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
count,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.0,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000
mean,10.693885,8.967424,9.769526,8.566755,9.177894,7.244609,8.707776,7.357612,14.008577,20.0,16.453719,14.921087,15.125725,14.501483,13.905103,11.930902,2.303507,1.342291
std,7.652275,7.376931,7.386916,7.180727,7.311107,6.133312,6.572315,5.748568,6.605551,0.0,6.392659,7.513922,7.336148,7.803161,7.936621,8.340058,13.854609,0.172958
min,0.414600,0.525200,0.523800,0.618800,0.511600,0.417700,0.375900,0.339300,0.322900,20.0,0.361900,0.196700,0.209900,0.225400,0.181100,0.261600,-54.500000,0.591667
25%,3.681450,3.221025,3.645825,2.777900,2.713675,3.079200,3.745200,3.610550,7.569425,20.0,20.000000,6.336300,6.655275,5.550175,5.495475,3.033000,-2.500000,1.266667
50%,7.083500,5.242600,6.477100,5.751850,6.973350,5.057700,6.604600,5.511900,15.596000,20.0,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,1.500000,1.408333
75%,20.000000,20.000000,20.000000,20.000000,20.000000,9.314150,11.631475,8.917025,20.000000,20.0,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,7.500000,1.466667
max,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.0,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,53.000000,1.500000

                 0            1             2            3
count  5920.000000  5920.000000  5.920000e+03  5920.000000
mean      1.885385     1.540811  8.445946e+16     3.326014
std       0.386761     0.570198  2.905209e+18    10.068282
min       0.543400     0.360300  6.499000e-01   -22.000000
25%       1.655500     1.288975  1.034200e+00     0.000000
50%       1.854600     1.497100  1.169600e+00     0.000000
75%       2.084300     1.698600  1.328225e+00     0.000000
max       3.253800     7.921100  1.000000e+20    22.000000

In [74]:
# build pipeline to find duplicates, count them and remove them and to normalize the data between 0 and 1

duplicates_lidar = len(df_lidar[df_lidar.duplicated()])
duplicates_sonar = len(df_sonar[df_sonar.duplicated()])

print(f"# of duplicates found:\nLidar: {duplicates_lidar} of {len(df_lidar)} items\nSonar: {duplicates_sonar} of {len(df_sonar)} items")

# of duplicates found:
Lidar: 330 of 3308 items
Sonar: 4182 of 5920 items

In [75]:
lidar_no_dup = df_lidar[~df_lidar.duplicated()]
sonar_no_dup = df_sonar[~df_sonar.duplicated()]

len(lidar_no_dup)

2978

In [83]:
import numpy as np
import torch
from torch import nn
import torch.utils.data as data

DEVICE = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(DEVICE)

class Dataset(data.Dataset):
    'Characterizes a dataset for PyTorch'
    def __init__(self, data):
            'Initialization'
            self.data = torch.tensor(np.array(data))
            

    def __len__(self):
            'Denotes the total number of samples'
            return len(self.data)

    def __getitem__(self, index):
            'Generates one sample of data'
            # Select sample
            sample = self.data[index]

            # return x and y
            X = sample[:-2]
            y = sample[-2]
            return X.to(torch.float32), y.to(torch.float32)

# LIDAR INPUT
n_inputs = 16

model = nn.Sequential(
    nn.Linear(n_inputs, 64),
#     nn.Dropout(p=0.2),
    nn.ReLU(),
    nn.Linear(64, 32),
#     nn.Dropout(p=0.1),
    nn.ReLU(),
    nn.Linear(32, 1)

).to(DEVICE)

cuda

In [87]:
from tqdm import tqdm
from torch import optim
import matplotlib.pyplot as plt
# LEARNING_RATE = 0.000006
LEARNING_RATE = 0.00001
epochs = 200

print("Training...")
# train_dataset = Dataset(lidar_no_dup)

# train_loader = data.DataLoader(train_dataset, batch_size=BATCH_SIZE, shuffle=True)

criterion = nn.MSELoss()
optimizer = optim.SGD(model.parameters(), lr=LEARNING_RATE)
model.train()

data = torch.tensor(np.array(lidar_no_dup))
mse_list = []
for epoch in tqdm(range(epochs)):
    # print(f"##### EPOCH {epoch} #####")
    losses = 0
    for i, sample in enumerate(data):
        optimizer.zero_grad()
        outputs = model(sample[:-2].to(torch.float32).to(DEVICE))
        loss = criterion(outputs, sample[-2].to(torch.float32).to(DEVICE))
        loss.backward()
        optimizer.step()
        losses += loss
    loss_avg = losses.item() / len(lidar_no_dup)
    # print(loss_avg)
    mse_list.append(loss_avg)

fig, ax = plt.subplots(figsize=(15, 6))

ax.set(xlabel='epochs', ylabel='MSE', title='Gradient Descent')

ax.plot(range(epochs), mse_list, 'blue')

plt.show()

Training...

  2%|▏         | 3/200 [00:09<10:05,  3.07s/it]

KeyboardInterrupt:

In [85]:
import pickle
# open a file, where you ant to store the data
file = open('../models/model.pickle', 'wb')

# dump information to that file
pickle.dump(model, file)

# close the file
file.close()

In [40]:

# open a file, where you stored the pickled data
file = open('../models/model.pickle', 'rb')

# dump information to that file
data = pickle.load(file)

# close the file
file.close()